#############################################################
# AT-STLN-ARTIX7-001
# XC7A35T-FTG256-1
#############################################################

############################
# 24 MHz Clock
############################
set_property PACKAGE_PIN D13 [get_ports clk_24mhz]
set_property IOSTANDARD LVCMOS33 [get_ports clk_24mhz]
create_clock -period 41.667 -name sys_clk [get_ports clk_24mhz]


############################
# UART RX
############################
set_property PACKAGE_PIN T2 [get_ports uart_rx]
set_property IOSTANDARD LVCMOS33 [get_ports uart_rx]


############################
# MAX7219 SPI
############################

# DIN
set_property PACKAGE_PIN J15 [get_ports seg_din]
set_property IOSTANDARD LVCMOS33 [get_ports seg_din]

# LOAD / CS
set_property PACKAGE_PIN J16 [get_ports seg_cs]
set_property IOSTANDARD LVCMOS33 [get_ports seg_cs]

# CLK
set_property PACKAGE_PIN H12 [get_ports seg_clk]
set_property IOSTANDARD LVCMOS33 [get_ports seg_clk]


############################
# LEDs
############################

set_property PACKAGE_PIN D5 [get_ports {led[0]}]
set_property IOSTANDARD LVCMOS33 [get_ports {led[0]}]

set_property PACKAGE_PIN A3 [get_ports {led[1]}]
set_property IOSTANDARD LVCMOS33 [get_ports {led[1]}]

set_property PACKAGE_PIN B4 [get_ports {led[2]}]
set_property IOSTANDARD LVCMOS33 [get_ports {led[2]}]


############################
# Optional
############################
set_false_path -from [get_ports uart_rx]